{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div>
  <h1>Hello! {{identity}}</h1>
  <form action = '{% url "show_paycheck" %}' method = get>
    {% csrf_token %}
    <input type='submit' value='show paycheck' class='btn btn-primary'>
  </form>
</div>

{% if level != 1 %}
<div>
  <form action = '{% url "input_data" %}' method = get>
    {% csrf_token %}
    <input type='submit' value='change data' class='btn btn-primary'>
  </form>
</div>
{% endif %}

<div>
  <form action = '{% url "approvement" %}' method = get>
    {% csrf_token %}
    <input type='submit' value='approve paycheck' class='btn btn-primary'>
  </form>
</div>

<div>
  <form action = '{% url "export" %}' method = get>
    {% csrf_token %}
    <input type='submit' value='export' class='btn btn-primary'>
  </form>
</div>
